annotated-types==0.7.0
anyio==4.11.0
asgiref==3.10.0
asttokens==3.0.0
certifi==2025.10.5
cffi==2.0.0
charset-normalizer==3.4.4
colorama==0.4.6
cryptography==46.0.3
decorator==5.2.1
deprecation==2.1.0
Django==5.2.7
django-cors-headers==4.4.0
django-rest-framework==0.1.0
django-stubs==5.2.7
django-stubs-ext==5.2.7
djangorestframework==3.16.1
djangorestframework-stubs==3.16.5
djangorestframework_simplejwt==5.5.1
executing==2.2.1
h11==0.16.0
h2==4.3.0
hpack==4.1.0
httpcore==1.0.9
httptools==0.7.1
httpx==0.28.1
hyperframe==6.1.0
idna==3.11
ipython==9.7.0
ipython_pygments_lexers==1.1.1
jedi==0.19.2
matplotlib-inline==0.2.1
multidict==6.7.0
numpy==2.3.4
packaging==25.0
parso==0.8.5
pgvector==0.4.1
portalocker==3.2.0
postgrest==2.24.0
prompt_toolkit==3.0.52
propcache==0.4.1
psutil==7.1.2
psycopg2-binary==2.9.11
pure_eval==0.2.3
pycparser==2.23
pycryptodomex==3.23.0
pydantic==2.12.4
pydantic_core==2.41.5
Pygments==2.19.2
PyJWT==2.10.1
python-decouple==3.8
python-dotenv==1.2.1
pywin32==311
pyzipper==0.3.6
realtime==2.24.0
requests==2.32.5
setuptools==80.9.0
shapely==2.0.6
sniffio==1.3.1
sqlparse==0.5.3
stack-data==0.6.3
storage3==2.24.0
StrEnum==0.4.15
supabase==2.24.0
supabase-auth==2.24.0
supabase-functions==2.24.0
traitlets==5.14.3
types-PyYAML==6.0.12.20250915
types-requests==2.32.4.20250913
typing-inspection==0.4.2
typing_extensions==4.15.0
tzdata==2025.2
urllib3==2.5.0
uuid==1.30
wcwidth==0.2.14
websockets==15.0.1
yarl==1.22.0
